@import "tailwindcss";

body{
  background-color: var(--color-grey-100);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

@layer components {
  .grid-areas-layout {
    display: grid;
    grid-template-areas:
      "A"
      "B"
      "D"
      "E"
      "C";

      grid-template-columns: 1fr;
      gap: 1.5rem;
      padding: 1.5rem;
      max-width: 1300px;
      margin: 0 auto;
  }

  .area-A {
    grid-area: A;
    
  }
  .area-B {
    grid-area: B;
  }
  .area-C {
    grid-area: C;
  }
  .area-D {
    grid-area: D;
  }
  .area-E {
    grid-area: E;
  }

  .box-custom {
    box-shadow: 40px 40px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1rem 2rem;

  }

  @media (min-width: 500px) {
    .grid-areas-layout {
      display: grid;
      grid-template-areas:
        "A A"
        "B D"
        "E E"
        "C C";
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      
    }
  }

  @media (min-width: 1024px) {
    .grid-areas-layout {
      display: grid;
      grid-template-areas:
        "A A B C"
        "D E E C";
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      gap: 2rem;
      padding: 1.5rem;
    }
  }

  
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../assets/fonts/BarlowSemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../assets/fonts/BarlowSemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Primary */
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-black: hsl(0, 0%, 7%);

  /* Font */
  --font-barlow-semi-condensed: "Barlow Semi Condensed", sans-serif;

  /* Font Size */
  --text-base: 13px;

}
