<nav>
  <ul class="flex flex-col md:flex-row gap-4 md:gap-8 text-lg uppercase tracking-widest">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/destination">Destination</a></li>
    <li><a routerLink="/crew">Crew</a></li>
    <li><a routerLink="/technology">Technology</a></li>

  </ul>
</nav>


<style>
  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
