---
const creations = [
  {
    title: "DEEP EARTH",
    image: "/images/mobile/image-deep-earth.jpg",
  },
  {
    title: "NIGHT ARCADE",
    image: "/images/mobile/image-night-arcade.jpg",
  },
  {
    title: "SOCCER TEAM VR",
    image: "/images/mobile/image-soccer-team.jpg",
  },
  {
    title: "THE GRID",
    image: "/images/mobile/image-grid.jpg",
  },
  {
    title: "FROM UP ABOVE VR",
    image: "/images/mobile/image-from-above.jpg",
  },
  {
    title: "POCKET BOREALIS",
    image: "/images/mobile/image-pocket-borealis.jpg",
  },
  {
    title: "THE CURIOSITY",
    image: "/images/mobile/image-curiosity.jpg",
  },
  {
    title: "MAKE IT FISHEYE",
    image: "/images/mobile/image-fisheye.jpg",
  },
];
---


<section class="bg-white">
  <div class="container px-4 py-8">
    <h2 class="text-3xl text-center font-josefin tracking-[2px] mb-8">
      OUR CREATIONS
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {creations.map((creation) => (
        <div class="relative">
          <img
            src={creation.image}
            alt={creation.title}
            class=""
          />
           {/* Overlay con degradado oscuro */}
          <div class="absolute inset-0 bg-gradient-to-r from-black/50 to-transparent z-1" />

          {/* titulo */}
          <div class="absolute bottom-4 left-6">
            <h3 class="relative text-white text-2xl w-[140px] leading-7 z-11 ">
              {creation.title}
            </h3>
          </div>
        </div>
      ))}
    </div>

    <button class="text-center font-alata tracking-[4px]  mx-auto block border-1 border-black text-black py-1 px-8 text-[12px] mt-7 hover:bg-black hover:text-white cursor-pointer">
      SEE ALL
    </button>
  </div>


</section>