---
import navbarOptions from "@/navbaroptions/navbaroptions";

/* only mobile show navbar */
---

<section class="pt-6 absolute inset-0 z-20 lg:mx-24 h-fit  ">
  <!-- header bar -->
  <div class="flex items-center justify-between px-6">
    <div class="flex items-center h-16">
      <img src="/images/logo.svg" alt="Loopstudios" class="h-6 w-auto lg:h-8" />
    </div>
    <button id="openMenu" class="lg:hidden">
      <img
        src="/images/icon-hamburger.svg"
        alt="Menu"
        class="h-5 w-auto cursor-pointer"
      />
    </button>
    <!-- Desktop navbar options -->
    <ul
        class="text-2xl uppercase my-auto ml-8 text-gray-200 hidden lg:flex lg:justify-center lg:items-center lg:gap-10 lg:text-xs lg:font-semibold "
    >
      {
        navbarOptions.map(({ name, href }) => (
          <li>
            <a
              href="#"
              class="relative inline-block after:block after:mx-auto after:mt-1 after:h-[2px] after:w-4 after:bg-white after:opacity-0 hover:after:opacity-100 after:transition-all"
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<!-- fullscreen navbar overlay -->
<nav
  id="mobileNav"
  class="fixed inset-0 pt-1 bg-black text-white z-50 flex-col hidden"
>
  <div class="flex items-center justify-between px-6 mt-10">
    <img src="/images/logo.svg" alt="Loopstudios" class="h-6 w-auto" />
    <button id="closeMenu" class="">
      <img
        src="/images/icon-close.svg"
        alt="Close"
        class="h-5 w-auto cursor-pointer"
      />
    </button>
  </div>
  <!-- Mobile navbar options -->
  <ul class="text-2xl uppercase space-y-6 my-auto ml-8 text-gray-200">
    {
      navbarOptions.map(({ name, href }) => (
        <li>
          {/* underline size 5px */}
          <a
            href="#"
            class="hover:underline hover:underline-offset-4 hover:decoration-[2px] decoration-white"
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script is:inline>
  const openBtn = document.getElementById("openMenu");
  const closeBtn = document.getElementById("closeMenu");
  const nav = document.getElementById("mobileNav");

  openBtn?.addEventListener("click", () => {
    nav.classList.remove("hidden");
    nav.classList.add("flex");
  });

  closeBtn?.addEventListener("click", () => {
    nav.classList.add("hidden");
    nav.classList.remove("flex");
  });
</script>
