<section class="pt-6">
    <div class="flex items-center justify-between px-6">
      <div class="flex items-center h-16">
        <img src="/images/logo.svg" alt="Loopstudios" class="h-6 w-auto" />
      </div>
      <div>
        <img src="/images/icon-hamburger.svg" alt="Menu" class="h-5 w-auto" />
      </div>
    </div>
  
</section>