---
import Navbar from "@/components/Navbar.astro";


/* only mobile show navbar */


---

<section class="pt-6 relative">
    <div class="flex items-center justify-between px-6">
      <div class="flex items-center h-16">
        <img src="/images/logo.svg" alt="Loopstudios" class="h-6 w-auto" />
      </div>
      <div>
        <img src="/images/icon-hamburger.svg" alt="Menu" class="h-5 w-auto" />
      </div>
    </div>
  
</section>



<!-- 



 
<section class="pt-6 relative">
   Header top bar
  <div class="flex items-center justify-between px-6 z-10 relative">
    <div class="flex items-center h-16">
      <img src="/images/logo.svg" alt="Loopstudios" class="h-6 w-auto" />
    </div>
    <button id="openMenu">
      <img src="/images/icon-hamburger.svg" alt="Menu" class="h-5 w-auto" />
    </button>
  </div>

  Fullscreen navbar overlay
  <nav
    id="mobileNav"
    class="fixed inset-0 bg-black text-white z-50 hidden flex-col justify-center items-center"
  >
    <button id="closeMenu" class="absolute top-6 right-6">
      <img src="/images/icon-close.svg" alt="Close" class="h-5 w-auto" />
    </button>

    <ul class="text-2xl uppercase space-y-6">
      {navbarOptions.map(({ name, href }) => (
        <li><a href={href} class="hover:underline">{name}</a></li>
      ))}
    </ul>
  </nav>

  <script is:inline>
    const openBtn = document.getElementById('openMenu')
    const closeBtn = document.getElementById('closeMenu')
    const nav = document.getElementById('mobileNav')

    openBtn?.addEventListener('click', () => {
      nav.classList.remove('hidden')
    })

    closeBtn?.addEventListener('click', () => {
      nav.classList.add('hidden')
    })
  </script>
</section>
-->