
<section class="my-20 lg:my-40 max-w-[1400px] lg:mx-auto">
  <div class="relative lg:px-10 ">

    <!-- Imagen (ancho total en desktop, no centrada) -->
    <img
      src="/images/desktop/image-interactive.jpg"
      alt="Interactive"
      class="mx-auto w-[320px] md:w-[550px] lg:mx-0 lg:w-[850px] lg:h-[560px] lg:object-contain"
    />

    <!-- Bloque de texto sobre la imagen -->
    <div class="bg-white px-10 py-12 lg:absolute lg:bottom-0 lg:right-[100px] lg:max-w-[600px] lg:pl-20 lg:pr-28 lg:pt-20 ">
      <h2 class="text-3xl font-light uppercase mb-6 leading-none tracking-wider lg:text-4xl lg:w-auto text-center lg:text-left ">
        THE LEADER IN INTERACTIVE VR
      </h2>

      
      <p class="font-alata text-sm leading-6 text-gray-600 text-center lg:text-left">
        Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand.
      </p>
    </div>

  </div>
</section>