---
  import navbarOptions from "@/navbaroptions/navbaroptions";

  
---

<nav class="min-h-full bg-green-500 z-20">
  <div>
    <img src="/images/logo.svg" alt="Loopstudios" class="h-6 w-auto" />
  </div>
  <div>
    <ul class="flex gap-4">
      {navbarOptions.map(({name, href}) => (
        <li>
          <a href="*" class="hover:underline">{name}</a>
        </li>
      ))}
    </ul>
  </div>
</nav>