@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --orangestyle: hsl(14, 86%, 42%);
  --greenstyle: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}


.list-products{
  display: grid;
  /*en 3 columnas*/
  grid-template-columns: repeat(3, 1fr);
  /* center */
  place-content: center;
  gap: 15px;
  align-items: stretch;
}

@media (max-width: 1000px) {
  .list-products{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .list-products{
    grid-template-columns: repeat(1, 1fr);
  }
}


.item-cart{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--rose-50);
  box-shadow: none; /* quita sombra si no la quieres */
  margin: 10px;
  width: 100%;

}

.item-cart__image-container {
  position: relative;
}

.item-cart__image{
  width: 100%;
  display: block;
  /*border: solid 2px var(--orangestyle);*/
  
}

.item-cart__image--selected{
  border: solid 2px var(--orangestyle);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.item-cart__button{
  position: absolute;
  bottom: -15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.item-cart__button-main,
.item-cart__button-quantity {
  width: 80%;
  min-height: 38px;
  padding: 5px 12px;
  border-radius: 50px;
  
  gap: 8px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


/* main button */
.item-cart__button-main {
  background-color: white;
  border: 1px solid var(--rose-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-cart__button-main:hover{
  color: var(--orangestyle);
  border: var(--orangestyle) 1px solid;
}

.item-cart__button-text{
  font-weight: bold;
  font-size: 14px;
}

/* extra button */

.item-cart__button-quantity {
  display: none;
  flex-direction: row;
  background-color: var(--orangestyle);
  align-items: center;
  justify-content: space-between;
}






.item-cart__quantity{
  color: white;
}



.item-cart__minus,
.item-cart__plus{
  border: solid 1px white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  background-color: var(--orangestyle);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

/*item description*/

.item-cart__description{
  
  min-height: 100px;
  margin-top: 20px; 
  padding: 10px;
}

.item-cart__category{
  font-size: 14px;
  color: #888;
}

.item-cart__name{
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.item-cart__price{
  font-size: 16px;
  color: var(--orangestyle);
  font-weight: bold;
  margin-top: 5px;
  
}




.order-total{
  margin: 20px 0;
}

.delivery{
  background-color: var(--rose-100);
  font-size: 12px;
  display: flex;  
  justify-content: center;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}


.order-confirmation{
  position: absolute;
  display: none;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  
  font-size: 12px;
  
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  
  top: 0;
  margin: auto
  
}

.order-confirmation__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--rose-100);
  font-size: 12px;
  width: 30%;
  height: 70%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
}

.order-confirmation__button{
  background-color: var(--orangestyle);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  
}