@import "tailwindcss";

@font-face {
  font-family: "League Spartan";
  src: url("../assests/fonts/league_spartan/static/LeagueSpartan-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan";
  src: url("../assests/fonts/league_spartan/static/LeagueSpartan-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Spartan";
  src: url("../assests/fonts/league_spartan/static/LeagueSpartan-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@theme{

  /* Primary */
  --color-primary-very-dark-magenta: hsl(300, 43%, 22%);
  --color-primary-soft-pink: hsl(333, 80%, 67%);
  --color-neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --color-neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --font-league-spartan: "League Spartan", sans-serif;


  --font-size-15: 15px;
  
}