<header class="flex justify-between items-center text-white px-6 py-4 w-full">
  <div>
    <img src="/assets/shared/logo.svg" alt="Space Tourism Logo" >
  </div>

  <button class="md:hidden" (click)="toogleNavbar()">
    <img src="/assets/shared/icon-hamburger.svg" alt="Menu" class="h-6">
  </button>

  <app-navbar class="hidden md:flex md:gap-3"></app-navbar>

</header>

<!-- Navbar móvil -->
@if(isNavbarOpenMobile){
  <app-navbar class="md:hidden" [isOpen]="true" (closeNavbar)="toogleNavbar()"></app-navbar>

}
