<div class="fixed inset-0 h-[100vh] bg-[url('/assets/technology/background-technology-mobile.jpg')] bg-cover bg-no-repeat bg-center md:bg-[url('/assets/technology/background-technology-tablet.jpg')] lg:bg-[url('/assets/technology/background-technology-desktop.jpg')] z-[-10]">

</div>

<div class="text-center my-5">
  <h2 class="uppercase font-barlow-condensed leading-[33.6px] tracking-[4px] text-[15px]">
    03 Space launch 101
  </h2>

  <div class="w-full ">
    <img
      [src]="selectedTech.images.portrait"
      alt="{{ selectedTech.name }} image"
      class=" mx-auto my-16 "
    />
  </div>

  <ul
    class="flex justify-center items-center gap-4 font-barlow-condensed"
  >
    @for (tech of techs; track tech.name; let i = $index) {
    <li
      class="p-4 w-4 h-4 flex justify-center items-center rounded-full cursor-pointer transition-colors duration-300 border"
      [ngClass]="{
        'bg-white text-black': selectedTech.name === tech.name,
        'border-gray-700 hover:border-white': selectedTech.name !== tech.name
      }"
      (click)="selectTech(tech.name)"
    >
      {{ i + 1 }}
    </li>
    }
  </ul>


  <p class="text-gray-500 text-xl uppercase mt-7 mb-2">
    The terminology...
  </p>
  <p class="text-[20px] uppercase font-bellefair text-white mb-4">
    {{ selectedTech.name }}
  </p>

  <p class="leading-[1.8] text-[14px] mx-auto w-[320px]">
    {{ selectedTech.description }}
  </p>





</div>
